header {
    background-color: black;
    text-align: center, justify;
    text-emphasis-color: blue;
    text-decoration-style: wavy;
    border-color: brown;

}
h1 {
    text-align: center;
    text-emphasis-color: red;
    color: brown;
    text-decoration: double;
    border-color: chocolate;
}
.page {
    background-color: white;
    border-image: auto;
    display: block;
}
#movieDetail {
    color: black;
    flex-direction: column;
}
#label {
    color: black;
}
#pic {
    width: 400px;
    height: 400px;
    margin-block-end: auto;
}
.box {
    box-sizing: border-box;   
}