header {
    background-color: black;
    text-align: center, justify;
    text-emphasis-color: blue;
    text-decoration-style: wavy;
    border-color: brown;

}
h1 {
    text-align: center;
    text-emphasis-color: red;
    color: brown;
    text-decoration: double;
    border-color: chocolate;
}
.page {
    image-rendering: optimizeQuality;
    background-image: url(.../CSS/a.jpg);
    border-image: auto;
    display: block;
}
#movieDetail {
    color: white;
    padding-right: 6cm;
    background-color: black;
    position: relative;
   

}
#label {
    color: white;
    background-color: black;
    padding-left: 6%;
    border-block-end-style: solid;
   
   
}
#pic {
    width: 400px;
    height: 400px;
    margin-block-end: auto;
}
.box {
    box-sizing: border-box;   
}
#info {
    color: red;
    background-color: rgb(0, 0, 0);
    padding-right: 4cm;
    block-size: 10%;
    font-size: 22px;
}